alembic
apscheduler
flask
fqdn
google-cloud-aiplatform
grpcio-status
isoduration
jsonpointer
jupyter
lxml-html-clean
matplotlib
pip-chill
psycopg2
pydantic-settings
pysocks
requests-html
selenium
textblob
torch
transformers
uri-template
webcolors
webdriver-manager
yfinance
