body {
    background-color: beige;
}

.currency-block {
    align-items: center;
    align-content: center;
    display: block;
    background-color: azure;
    float: left;
    margin: auto;
    width: 20%;
    border: 3px solid green;
    padding: 10px;
}


p.currency-text {
    font-size: x-large;
}

.back-to-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50; /* Optional: Add some styling to the button */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.back-to-home:hover {
    background-color: #45a049; /* Optional: Add hover effect */
}