/* stock.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1500px;
}

.currency-block h1 {
    text-align: center;
    color: #4CAF50;
}

.currency-text {
    font-size: 20px;
    margin: 10px 0;
}

.currency-text strong {
    color: #333;
}

.container {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            height: 45vh;
            padding: 20px;
        }

.currency-block, .chart-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
}

.currency-block {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    border-width: medium;
    border-style: solid;
}


.chart-container {
            flex: 2.5; /* 2.5 parts of the available space */
            margin: 10px 10px 10px 100px; /* 40px distance from the stock info window */
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black; /* Add border to the chart */
        }

canvas {
    width: 100% !important;
    height: 100% !important;
}

.news-section {
    padding: 20px;
}

.links-section {
    width: 80%;
    max-width: 300px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 8px;
    border-width: thin;
    border-style: solid;
}

.link-item {
    margin-bottom: 10px;
}

.back-to-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.back-to-home:hover {
    background-color: #45a049;
}
