<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Data Update</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="{{ url_for('static', filename='scripts/index_script.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<h1>Stocks</h1>
<div id="data-container">
    <table id="data-table" class="table-centered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Last</th>
                <th>High</th>
                <th>Low</th>
                <th>Volume</th>
                <th>Change</th>
                <th>Change Percent</th>
                <th>Growth</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be dynamically inserted here -->
        </tbody>
    </table>
</div>
</body>
</html>
